html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
  font-family: Arial, sans-serif;
}

.slider {
  width: 80%;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.slides {
  display: flex;
  width: 600%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  width: 16.6667%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.slide-visible {
  opacity: 1 !important;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.manual-btn {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.6s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: #ffffff;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -20px;
}

.auto-btn1, .auto-btn2, .auto-btn3, .auto-btn4, .auto-btn5, .auto-btn6 {
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  transition: background 0.6s;
}

.auto-btn1.active, .auto-btn2.active, .auto-btn3.active, .auto-btn4.active, .auto-btn5.active, .auto-btn6.active {
  background: #ffffff;
}
